// COLORS
$color-white: #fff;
$color-black: #000;

$color-primary: #b1526e;

// BACKGROUND GRADIENT
$background-gradient-1: linear-gradient(
  to top,
  #051937,
  #151b40,
  #251b47,
  #371a4c,
  #49164e
);

$background-gradient-2: linear-gradient(
  to bottom,
  #051937,
  #151b40,
  #251b47,
  #371a4c,
  #49164e
);
